.kirby-focus-field .focus-box {
  position: relative;
  line-height: 0;
  overflow: hidden;
  padding: 2.5rem;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
}
.kirby-focus-field .focus-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #efefef url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxwYXR0ZXJuIGlkPSJhIiB3aWR0aD0iMjAiIGhlaWdodD0iMjAiIHBhdHRlcm5Vbml0cz0idXNlclNwYWNlT25Vc2UiPjxwYXRoIGZpbGw9InJnYmEoMCwgMCwgMCwgMC4yKSIgZD0iTTAgMGgxMHYxMEgwem0xMCAxMGgxMHYxMEgxMHoiLz48L3BhdHRlcm4+PHJlY3QgZmlsbD0idXJsKCNhKSIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIvPjwvc3ZnPg==");
  opacity: 0.45;
  z-index: 0;
}
.focus-preview-container {
  position: relative;
  z-index: 1;
  cursor: crosshair;
}


.kirby-focus-field .focus-preview {
  display: block;
  max-width: 100%;
  max-height: calc(100vh - 13.5rem);
  -webkit-transition: all .25s;
     -moz-transition: all .25s;
          transition: all .25s;
  -webkit-filter: grayscale(100%);
     -moz-filter: grayscale(100%);
          filter: grayscale(100%);
}
.kirby-focus-field .focus-box:hover .focus-preview {
  -webkit-filter: grayscale(0);
     -moz-filter: grayscale(0);
          filter: grayscale(0);
}

.kirby-focus-field .focus-point {
  box-sizing: border-box;
  min-height: 40px;
  min-width: 40px;
  border-radius: 40px;
  margin-left: -20px;
  margin-top: -20px;
  border: 2px solid #fff;
  background: rgba(129,162,190,0.6);
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  pointer-events: none;
  -webkit-transition: all .1s;
     -moz-transition: all .1s;
          transition: all .1s;
}

.kirby-focus-field .focus-box:hover .focus-point {
  background: rgba(0,0,0,0.5);
}

.kirby-focus-field .focus-point:before,
.kirby-focus-field .focus-point:after {
  content: '';
  display: block;
  width: 5px;
  height: 1px;
  background: #fff;
  position: relative;
  top: 18px;
  left: 16px;
}

.kirby-focus-field .focus-point:after {
  width: 1px;
  height: 5px;
  top: 15px;
  left: 18px;
}

.kirby-focus-field[disabled] {
  pointer-events: none
}